@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
       url('../fonts/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
       url('../fonts/OpenSans-SemiBold.woff') format('woff'),
       url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

:root {
  --primary-color: #9D5CD0;
  --secondary-color: #7943A4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 20.8px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.section:not(:last-child) {
  margin-bottom: 80px;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}

.logo {
  outline: none;
}

/* Header */

.header {
  padding: 30px 0;
  background-color: #000;
  color: #fff;
}

.header__logo {
  margin-right: -118px;
}

.container--header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.desktop-nav__list {
  display: flex;
  margin: 0;
  gap: 96px;
}

.desktop-nav__link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  outline: none;
  transition: color .3s,  background-color .3s;
}

.desktop-nav__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -8px;
  bottom: -5px;
  left: -6px;
  opacity: 0;
  background-color: var(--secondary-color);
  transition: opacity .3s;
}

.desktop-nav__link:focus-visible::after {
  opacity: 1;
}

.desktop-nav__link:active {
  color: var(--secondary-color);
}


.header__btn svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.header__btn:focus-visible {
  outline: none;
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.header__btn svg:hover {
  fill: #C283F3;
  transition: 0.3s ease-in-out;
}

.header__btn svg:active {
  fill: var(--primary-color);
  transition: 0.3s ease-in-out;
}

/* Hero */

.section--hero {
  background-image: url("../img/hero-section.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.hero {
  max-width: 620px;
  padding: 146px 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
  color: #fff;
}

.hero__text-content {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.hero__action-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  align-self: flex-start;
  padding: 22px 34px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 100px;
  outline: none;
  background-color: var(--primary-color);
  transition: border-color .3s, background-color .3s, opacity .3s;
  cursor: pointer;
}

.hero__action-button::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 2px solid var(--secondary-color);
  border-radius: 100px;
  opacity: 0;
  background-color: transparent;
}

.hero__action-button:focus-visible:not(:active)::after {
  opacity: 1;
}

.hero__action-button:focus-visible {
  outline: #D1A9F0;
  transition: 0.3s ease-in-out;
}

.hero__action-button:active:not(:focus-visible) {
  border-color: #D1A9F0;
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.desktop-nav {
  overflow: hidden;
}

.horizontal-scroll-wrapper {
  width: 100%;
}

.horizontal-scroll-wrapper > div {
  width: 100%;
}

/* About us */

.about-us__title {
  margin-bottom: 16px;
}

.about-us__desc {
  max-width: 1080px;
  line-height: 32px;
}

/* Galary */

.section--galary {
  margin-top: -10px;
  background-image: url("../img/galary.jpg");
  background-repeat: no-repeat;
  color: #fff;
}

.galary__content {
  padding: 80px 0;
}

.galary__check {
  display: flex;
  flex-direction: column;
}

.galary__title {
  margin-bottom: 18px;
}

.galary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 30px;
}

.galary__exhibits {
  display: flex;
  flex-direction: row;
  max-width: 1150px;
  gap: 50px;
}

.galary__exhibit {
  min-width: 350px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px 350px;
  gap: 20px;
}

.exhibit-1 {
  background-image: url("../img/exhibits/exhibits-1.jpg");
}

.exhibit-2 {
  background-image: url("../img/exhibits/exhibits-2.jpg");
}

.exhibit-3 {
  background-image: url("../img/exhibits/exhibits-3.jpg");
}

.check-block__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.check-block__label {
  outline: none;
  cursor: pointer;
}

.check-block__text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: var(--color-light);
  vertical-align: middle;
  outline: none;
  transition: color .3s;
}

.check-block__visible-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 9px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  border: 1px solid #ffffff;
  transition: border-color .3s;
}

.check-block__visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--color-light);
  transition: opacity .3s;
  transform: translate(-50%, -50%);
}

.check-block__item:hover:not(:focus-visible) .check-block__visible-checkbox {
  border-color: #c283f3;
}

.check-block__label:active:not(:focus-visible) .check-block__text {
  color: var(--primary-color);
}

.check-block__label:active:not(:focus-visible) .check-block__visible-checkbox {
  border-color: var(--primary-color);
}

.check-block__checkbox:checked ~ .check-block__visible-checkbox {
  border-color: var(--primary-color);
}

.check-block__checkbox:checked ~ .check-block__text {
  color: var(--primary-color);
}

.check-block__checkbox:checked ~ .check-block__visible-checkbox::before {
  opacity: 1;
  background-color: var(--primary-color);
}

.check-block__checkbox:focus-visible:not(:active) ~ .check-block__visible-checkbox::before {
  background-color: var(--primary-color);
}

.check-block__checkbox:focus-visible:not(:active) ~ .check-block__visible-checkbox {
  border-color: var(--primary-color);
}

.check-block__checkbox:focus-visible:not(:active) ~ .check-block__text {
  color: var(--primary-color);
}


/* Catalog */

.catalog__title {
  margin-bottom: 16px;
}

.catalog__desc {
  max-width: 1080px;
  margin-bottom: 39px;
  line-height: 32px;
}

.catalog__content-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.catalog__content-item:not(:last-child) {
  margin-bottom: 50px;
}

.catalog__content-info {
  max-width: 800px;
}

.catalog__content-title {
  margin-bottom: 10px;
}

.catalog__content-date {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog__content-desc {
  line-height: 32px;
}

/* Events */

.events__title {
  margin-bottom: 18px;
}

.events__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.events__card {
  max-width: calc((100% / 3) - 34px);
}

.events__card-cont {
  position: relative;
  min-height: 400px;
  padding: 13px 50px 80px 50px;
  border: 1px solid #999;
  border-top: none;
}

.event__place, .event__date {
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.event__title {
  margin-bottom: 10px;
}

.event__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.events__card-info {
  margin-bottom: 13px;
}

.event__link {
  position: absolute;
  display: inline-block;
  bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--primary-color);
  outline: none;
  transition: color .3s, background-color .3s;
}

.event__link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  transition: background-color .3s, opaity .3s;
}

.event__link:hover:not(:focus-visible):not(:active) {
  color: #c283f3;
}

.event__link:focus-visible:not(:active) {
  color: #fff;
  background-color: var(--secondary-color);
}

.event__link:active:not(:focus-visible) {
  color: #333;
}

.event__link:active:not(:focus-visible).event__link::before {
  background-color: #333;;
}

/* Projects */

.projects__title {
  margin-bottom: 16px;
}

.projects__desc {
  max-width: 1078px;
  margin-bottom: 30px;
  line-height: 32px;
}

.project__partners-title {
  margin-bottom: 16px;
}

.project__partners-links {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

/* Showroom */

.section--showroom {
  border: 1px solid #CACACA;
}

.container--showroom {
  display: flex;
  flex-direction: row;
}

.showroom {
  min-height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  gap: 80px;
  align-items: center;
}

.showroom__title {
  margin-bottom: 5px;
  line-height: 32px;
}

.showroom__address {
  font-style: normal;
}

.contacts__icon-list {
  display: flex;
  flex-direction: row;
}x

.contacts {
  padding-top: 33px;
  padding-bottom: 16px;
  border-top: 1px solid #333333;
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
    padding-bottom: 47px;
}

.contacts__adress {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.contacts__adress-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 43px;
}

.contacts__adress-text {
  font-style: normal;
}

.contacts__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -15px;
  width: 57%;
}

.contacts__form-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-right: 20px;
}

.contacts__form-item {
  width: 273px;
}

.contacts__form-lable {
  display: flex;
  flex-direction: column-reverse;
}

.just-validate-error-field.contacts__form-input {
  border-color: #d11616;
}

.form-btn {
  border: 1px solid #333333;
  border-radius: 100px;
}

.contacts__form-input {
  padding: 9px 57px 9px 24px;
  height: 50px;
  transition: background-color .3s;
}

.contacts__form-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #999999;
}

.contacts__form-btn {
  position: relative;
  display: block;
  padding: 12px 33px 12px 33px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: var(--primary-color);
  text-align: center;
  border: 2px solid var(--primary-color);
  outline: none;
  transition: background-color .3s, color .3s, border-color .3s;
}

.contacts__form-btn::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: border-color .3s;
}

.contacts__form-btn:focus-visible {
  color: #fff;
  background-color: #c283f3;
}

.contacts__form-btn:focus-visible.contacts__form-btn::before {
  border-color: var(--primary-color);
}

.contacts__form-btn:focus-visible.contacts__form-btn::before {
  border-color: var(--primary-color);
}

.contacts__form-btn:active {
  color: #fff;
  border-color: #d1a9f0;
  background-color: #7943a4;
}

.small-screen {
  display: none;
}

.contacts__social {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: -10px;
}

.contacts__social-list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__social-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__social-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.contacts__social-link {
  position: relative;
  display: inline-block;
  outline: none;
  transition: opacity .3s;
}

.contacts__social-link:focus-visible {
  opacity: .5;
}

.contacts__social-link::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: translateX(3%) translateY(-56%);
}

.contacts__social-link:focus-visible {
  opacity: .5;
}

.contacts__social-link:active.contacts__social-link::after {
  border-color: var(--primary-color);
}

.contacts__map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}


/* Footer */

.footer {
  background-color: #000;
}

.container--footer {
  display: flex;
  flex-direction: row;
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer__lists {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__link {
  outline: none;
}

.footer__link svg {
  fill: #cacaca;
}

.footer__link:focus-visible svg {
  fill: #fff;
}

.footer__link:active:not(:focus-visible) svg {
  fill: var(--primary-color);
}

@media (max-width: 1700px) {
  .contacts__form-input {
    margin-bottom: 20px;
  }

}

@media (max-width: 1430px) {

  /* Header */

  .header {
    padding-bottom: 0;
  }

  .container--header :nth-child(2) {
    order: 3;
  }

  .desktop-nav__list :nth-child(1) {
    order: 7;
  }

  .desktop-nav__list :nth-child(2) {
    order: 8;
  }

  .desktop-nav__list :nth-child(3) {
    order: 9;
  }

  .desktop-nav__list :nth-child(4) {
    order: 10;
  }

  .desktop-nav__list :nth-child(5) {
    order: 11;
  }

  .desktop-nav__list :nth-child(6) {
    order: 12;
  }

  .header__navigation {
    padding: 23px 0;
    margin: 0 auto;
  }

  .header__logo-img {
    width: 188px;
    height: 46px;
  }

  .header__logo {
    margin-right: 250px;
  }

  /* Hero */

  .hero {
    padding: 101px 0;
  }

  .hero__content {
    max-width: 660px;
  }

  .hero__text-content {
    margin-bottom: 100px;
  }

  /* Galary */

  .section--galary {
    background-size: auto 642px;
  }

  .galary__exhibit {
    min-width: 275px;
    height: 275px;
    background-size: 275px 275px;
  }

  /* Catalog */

  .catalog__content-info {
    max-width: 924px;
  }

  .catalog__title {
    margin-bottom: 14px;
    line-height: 68px;
  }

  .catalog__desc {
    margin-bottom: 40px;
  }

  .catalog__content-item {
    flex-direction: column;
    gap: 30px;
  }

  .catalog__content-title {
    margin-bottom: 8px;
  }

  .catalog__content-date {
    margin-bottom: 17px;
  }

  /* Events */

  .events picture img {
    min-height: 200px;
  }

  .events__list {
    gap: 27px;
  }

  .events__card {
    max-width: calc((100% / 3) - 18px);
  }

  .events__card-cont {
    padding: 14px 33px 80px 33px;
    min-height: 482px;
  }

  .events__title {
    margin-bottom: 15px;
  }

  .events__card-info {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .events__card-info {
    margin-bottom: 6px;
  }

  .event__title {
    margin-bottom: 4px;
  }

  .event__link {
    bottom: 45px;
  }

  /* Projects */

  .contacts__container {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 49px;
    padding-top: 0px;
  }


  .projects__desc {
    margin-bottom: 20px;
  }

  .project__partners-links {
    gap: 27px;
  }

   /* Contacts */

  .contacts__form {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 100%;
  }

  .contacts {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .contacts__adress {
    margin-bottom: 30px;
  }

  .contacts__adress-title {
    margin-bottom: 10px;
    line-height: 35px;
  }

  .contacts__form-input {
    margin-bottom: 0;
  }

  .contacts__adress-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  /* Footer */

  .container--footer {
    padding-top: 38px;
    padding-left: 51px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 1000px) {
  /* Header */

  .desktop-nav__list {
    gap: 45px;
  }

  /* Hero */

  .hero {
    padding-top: 87px;
    padding-bottom: 85px;
  }

  .hero__content {
    max-width: 550px;
  }

  .hero__text-content {
    margin-bottom: 130px;
  }

  /* Galary */

  .galary__exhibits {
    gap: 34px;
  }

  .galary__title {
    margin-bottom: 18px;
  }

  .galary__exhibit {
    min-width: 200px;
    height: 200px;
    background-size: 200px 200px;
  }

  /* Catalog */

  .catalog__content-date {
    margin-bottom: 7px;
}

  /* Events */

  .events__list {
    flex-direction: column;
    gap: 30px;
  }

  .events__card {
    max-width: 100%;
  }

  .events picture img {
    width: 900px;
  }

  .events__card-cont {
    min-height: 328px;
  }

  .event__title {
    margin-bottom: 13px;
  }

  /* Projects */

  .projects__desc {
    margin-bottom: 29px;
  }

  .project__partners-title {
    margin-bottom: 28px;
  }

  .project__partners-links {
    gap: 34px;
  }

  .partner-links img {
    height: 122px;
  }

  /* Contacts */

  .contacts__container {
    padding-top: 0px;
  }
  .contacts__form-list {
    margin-bottom: 11px;
    margin-right: 0;
    gap: 20px;
  }

  .contacts__form-item {
    width: 323px;
  }

  .contacts__form-btn {
    padding: 12px 28px 12px 28px;
  }
}

@media (max-width: 730px) {

  /* Header */

  .desktop-nav__list {
    gap: 26px;
  }

  /* Hero */

  .hero__title {
    font-size: 50px;
    line-height: 42px;
  }

  /* Galary */

  .section--galary{
    background-size: auto 1206px;
  }

  .galary {
    flex-direction: column;
    align-items: inherit;
  }

  .galary__exhibits {
    flex-direction: column;
  }

  .galary__exhibit {
    min-width: 290px;
    height: 290px;
    background-size: 290px 290px;
  }

  /*contacts*/
  .contacts {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .contacts__container {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 42px;
  }

  .contacts__adress {
    margin-bottom: 30px;
  }

  .contacts__adress-title {
    margin-bottom: 10px;
  }

  .contacts__adress-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  .contacts__form {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 12px;
    width: 100%;
  }

  .contacts__form-list {
    width: auto;
  }

  .contacts__form-btn {
    padding: 12px 41px 12px 41px;
  }

  .contacts__social-title {
    margin-bottom: 6px;
  }
}

@media (max-width: 600px) {

  .section:not(:last-child)  {
    margin-bottom: 50px;
  }

  .container {
    padding: 0 15px;
  }

   /* Header */

  .header {
    padding-top: 16px;
  }

  .header__navigation {
    padding: 8px 0;
  }

  .desktop-nav__list {
    overflow: auto;
    white-space: nowrap;
  }

  .desktop-nav__item {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .header__logo-img {
    width: auto;
    height: 22px;
  }

  .header__logo {
    margin-right: 150px;
  }

  .desktop-nav__link {
    font-size: 12px;
  }

  .header__btn svg {
    width: 18px;
    height: 18px;
  }

  /* Hero */

  .hero {
    padding-top: 50px;
    padding-bottom: 47px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
  }

  .hero__title {
    align-self: center;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
  }

  .hero__text-content {
    align-self: center;
    margin-bottom: 40px;
    width: 248px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }

  .hero__action-button {
    align-self: center;
    padding: 11px 19px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }

    /* About us */

  .about-us__title {
    margin-bottom: 9px;
    font-size: 28px;
    line-height: 42px;
  }

  .about-us__desc {
    font-size: 14px;
    line-height: 28px;
  }


  .galary__content {
    padding: 50px 0;
  }

  /* Projects */

  .projects__title {
    margin-bottom: 10px;
  }

  .project__partners-links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  /*contacts*/

  .contacts {
    padding-bottom: 50px;
  }

  .contacts__form {
    align-items: flex-start;
    flex-direction: column;
  }

  .big-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  .contacts__form-input {
    padding: 12px 32px 10px 35px;
  }

  .contacts__form-btn {
    padding: 12px 32px 10px 35px;
  }

  .contacts__form-item {
    width: auto;
  }

  /*Footer*/

  .footer__logo {
    width: 96.8px;
    height: 21.671px;
  }

}

@media (max-width: 320px) {

  h2 {
    font-size: 28px;
    line-height: 40px;
  }

  /* hero */

  .section--hero {
    background-image: url(../img/hero_320.jpg);
  }

  /* Galary */

  .galary__title {
    margin-bottom: 13px;
  }

  .galary__exhibits {
    gap: 30px;
  }

  /* Catalog */

  .catalog__title {
    margin-bottom: 12px;
    line-height: 40px;
  }

  .catalog__desc {
    margin-bottom: 30px;
  }

  .catalog__content-item {
    gap: 20px;
  }

  .catalog__content-title {
    font-size: 25px;
    margin-bottom: 6px;
  }

  .catalog__content-date {
    margin-bottom: 14px;
  }

  .catalog__content-item:not(:last-child) {
    margin-bottom: 30px;
  }

  /* Events */

  .events__title {
    margin-bottom: 11px;
  }

  .events__card-cont {
    padding: 18px 17px 80px 22px;
    min-height: 483px;
  }

  .events__card-info {
    margin-bottom: 9px;
  }

  .event__title {
    margin-bottom: 5px;
  }

  .event__link {
    bottom: 49px;
    left: 28px;
  }

  .events__list {
    gap: 20px;
  }

  /* Projects */

  .projects__desc {
    margin-bottom: 53px;
  }

  .project__partners-title {
    font-size: 18px;
    line-height: 32px;
  }

  .project__partners-title {
    margin-bottom: 10px;
  }

  .partner-links img {
    height: 100px;
    width: 300px;
  }

  /*contacts*/

  .contacts {
    padding-top: 2px;
    padding-bottom: 0;
    border-top: none;
  }

  .contacts__container {
    padding-bottom: 56px;
  }

  .contacts__adress {
    margin-bottom: 20px;
  }


  .contacts__form-list {
    margin-bottom: 20px;
    width: 100%;
  }

  .contacts__adress-title {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }

  .contacts__form-item {
    width: 100%;
  }

  .contacts__form {
    margin-bottom: 20px;
  }

  .contacts__form-input {
    padding: 9px 76px 9px 24px;
    height: 40px;
  }

  .contacts__form-btn {
    padding: 10px 33px 10px 33px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }

  .contacts__social-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }

  .contacts__social-item svg {
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    height: 320px;
  }

  /* Footer */

  .container--footer {
    flex-direction: column-reverse;
    padding: 20px 0;
    gap: 15px;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }
}

@media (any-hover: hover) {
  .desktop-nav__link:hover:not(:focus-visible):not(:active) {
    color: #c283f3;
    transition: 0.3s ease-in-out;
  }

  .hero__action-button:hover:not(:focus-visible) {
    border-color: #d1a9f0;
  }


  .contacts__form-input:hover {
    background-color: #cecece;
  }

  .contacts__form-btn:hover {
    color: #fff;
    border-color: #d1a9f0;
    background-color: var(--primary-color);
  }

  .contacts__social-link:hover:not(:active) {
    opacity: .5;
  }

  .footer__link:hover svg {
    fill: #fff;
  }

}

